{% if word_fields %}
	{% for field in word_fields %}
		<span id="_label_{{ field }}1" class="search_label">{{ _('wordfield_' + field) | capitalize }}:</span> <input type="text" class="search_input" name="{{ field }}1" id="{{ field }}1"><br>
	{% endfor %}
{% endif %}
{% if sentence_meta and sentence_meta|length > 0 %}
<hr class="separator">
	{% for field in sentence_meta %}
		{% if int_meta_fields and field in int_meta_fields %}
		{{ _('metafield_' + field) | capitalize }}: <input type="number" class="search_input_num" name="sent_meta_{{ field }}_FR1" id="sent_meta_{{ field }}1">&ndash;<input type="number" class="search_input_num" name="sent_meta_{{ field }}_TO1" id="sent_meta_{{ field }}1"><br>
		{% elif sentence_meta_values and field in sentence_meta_values %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1"><br>
		<option value="" selected></option>
		{% for v in sentence_meta_values[field] %}
		<option value="{{ v }}">{{ _('metavalue_' + v) }}</option>
		{% endfor %}
		</select><br>
		{% else %}
		{{ _('metafield_' + field) | capitalize }}: <input type="text" class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1" {% if "sent_meta_" + field in default_values %} value='{{ default_values["sent_meta_" + field] }}' {% endif %}><br>
		{% endif %}
	{% endfor %}
{% endif %}
{{ _('Analyses: ') }}<select name="n_ana1" id="n_ana1" class="search_input">
<option value="any" selected>{{ _('any number of analyses') }}</option>
{% if ambiguous_analyses %}
<option value="ambiguous">{{ _('only ambiguous') }}</option>
<option value="nonambiguous">{{ _('only non-ambiguous') }}</option>
<option value="analyzed">{{ _('only with analysis') }}</option>
{% else %}
<option value="nonambiguous" selected>{{ _('only with analysis') }}</option>
{% endif %}
<option value="none">{{ _('only without analysis') }}</option>
</select><br>
{{ _('Position in sentence: ') }}<input type="number" name="sentence_index1" id="sentence_index1" value="" placeholder="1" class="search_input distance_input"><br>