<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#help_single_word_search">Single-word search</a></li>
	<li><a data-toggle="tab" href="#help_grammar">Grammar</a></li>
	<li><a data-toggle="tab" href="#help_multi_word_search">Multi-words search</a></li>
	<li><a data-toggle="tab" href="#help_subcorpus_selection">Subcorpus selection</a></li>
</ul>
<div class="tab-content">
	<div id="help_single_word_search" class="tab-pane fade in active">
		<h4>Basic search</h4>
		<p>A corpus is a collection of annotated texts which you can use to find out in which contexts, in what kind of texts and how frequently words and constructions are used. To do this, you have to fill in the word query form in the left upper corner of the search panel. This tab covers single-word queries, i.e. queries you would use to look for one specific word or a class of words in the corpus.</p>
		<p>A query form for one word, headed "Word #1", is basically a set of input fields where you can input text. The following input fields are available:
		<ul>
			<li><em>Word</em>. If you want to find a specific word form, such as "going" (but not "goes" or "went"), type it into this field. There are several options for searching a word. One is to simply type one word. Another is to use the <em>*</em> character, which stands for "any number of any characters". For example, a query "go*" would find all words that start with the letters "go", like "going", "go", "got", etc. Yet another option is using <a href="http://www.regular-expressions.info/quickstart.html">regular expressions</a> (particularly, the flavor used by Apache Lucene). Finally, one can use <em>~</em> as negation, e.g. "~go" would find all words except "go".</li>
			<li><em>Lemma</em>. Lemma is the dictionary form of the word, e.g. the lemma of "going" is "go". By typing a lemma into this field you will find all instances of all forms of this word. Of course, this will work only if the corpus has proper annotation. The rules for this field are the same as in the previous case.</li>
			<li><em>Grammar{% if gloss_search_enabled %} and gloss{% endif %}</em>: see the <em>Grammar</em> tab.</li>
			<li><em>Other fields</em>. Depending on the corpus annotation, there can be any number of other fields, which you can see if you click the <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> button. These text fields behave exactly like the Word and Lemma fields.</li>
			<li><em>Position in sentence</em> box can be used to search words only at specific places inside the sentence, e.g. at the beginning (position 1) or in Wackernagel position (position 2). Negative values can be used if you want to count starting from the end of the sentence, e.g. <em>-1</em> means the last word in the sentence.</li>
		</ul>
		<p>Several fields can be filled in simultaneously, in which case you will find all words that conform to all of the requiremets.</p>
		<h4>Search and display options</h4>
		<p>If you click the <span class="glyphicon glyphicon-cog" title="Options"></span> tab in the left part of the search area, you can change the default search and display options. The options that are relevant for a single-word search are number of occurrences per page (with a maximum of 100), sorting of the results, transliteration (for corpora that provide several transliteration options) and view (standard or glossed).</p>
		<h4>Sentence and word search</h4>
		<p>There are two search options: sentence and word search. The former shows you all sentences where the search engine found at least one word that conforms to your search query. Each context can be expanded by clicking on the green arrow on the right. (In most corpora, the total number of times you can expand a context is limited due to copyright reasons.) A checkbox on the left of each context can be used to "switch it off". When you click "download as CSV" or "download as XLSX" link at the bottom of the page, you will get a file with all contexts that you have seen, except the switched off ones.</p>
		<p>The "Search word" button will produce a list of types (unique word forms) that conform to your query together with basic frequency statistics. This can be useful if you have questions like "What are the most frequent verbs used in the past tense?" Each of the word forms you found can be searched in the corpus by clicking the <span class="glyphicon glyphicon-search" title="Search in corpus"></span> button in the relevant row. The <span class="glyphicon glyphicon-stats" title="Show statistics"> </span> button will show the distribution of the word by different kinds of texts. The Lemma search works in the same way, the only difference being that it produces the list of lemmata rather than word forms.</p>
		{% if media %}
		<h4>Media alignment</h4>
		<p>If a sentence you have found is aligned with a video or audio file, you can watch or listen to the relevant segment in the video player by clicking on the sentence. If you have expanded the context, you can watch the entire expanded segment. In this case, the segment which is being viewed right now will be highlighted in the text. If there are several speakers whose utterances overlap, they are linearized in the text (they are sorted by the time when they start), but whenever they overlap on the recording, all of them are highlighted.</p>
		{% endif %}
		<h4>Negative queries</h4>
		<p>If you would like to find a sentence <em>without</em> some word or class of words, you can turn on the "Negative query" option by clicking the <span class="glyphicon glyphicon-off" aria-hidden="true"> </span> button. This option works only with sentence queries.</p>
	</div>
	<div id="help_grammar" class="tab-pane fade">
		<h4>Grammatical tags</h4>
		<p><em>Grammar</em>. In a corpus with morphological annotation, words are assigned sets of grammatical tags which describe the values of grammatical (or any other) categories expressed in the word. For example, the form "goes" might be annotated with the tags "prs" (for Present tense), "3" and "sg" (for 3rd person singular). The choice of tags is up to the developers of the corpus. If you are already familiar with the tagset of this particular corpus, you could type tags together with logical functions <em>&amp;</em> or just <em>,</em> (a comma) for AND, <em>|</em> for OR and <em>~</em> for NOT. Expressions can be grouped by parentheses. For instance, an expression like "(nom|gen),~sg" would mean "the word should be in the nominative or the genitive, but not in the singular" in a corpus where such tags exist. If you are not familiar with the tagset or feel more comfortable with a graphical input, you can click a small button in the right part of the input field to open a window where you can select grammatical tags from the lists. The tags are grouped by categories. When you select several tags from the same category, this is interpreted as an "OR" query; such subqueries for different categories are then united in an "AND" query, and the resulting formula appears in the blue area in the upper part of the window.</p>
		{% if gloss_search_enabled %}
		<p><em>Gloss</em>. If the corpus is glossed, you can also search in the glosses. This is similar to the grammar tag search, but there are several differences. First, in the gloss query you can specify mutual position of several glosses or multiple occurrence of the same gloss in one word, whereas grammatical tags are treated as an unordered sack with unique values. Second, in the gloss search, you can specify the exact form of the morpheme, which can be useful when a grammatical value can be encoded by different morphemes in different contexts and you are only interested in one of the allomorphs. Third, the developers of the corpus may create umbrella tags that cover a number of different glosses, e.g. "CASE" could cover the glosses for all case markers. Finally, there is not always one-to-one correspondence between the glosses and the tags, as one one morpheme can encode several values at once and, vice versa, a grammatical value can be encoded by several different morphemes or be not overtly encoded at all.</p>
		<p>If you are familiar with the glosses used in the corpus, you can type expressions using these glosses, separating them with a hyphen. An expression like "GEN-PL" means that you want to find all words where a plural marker is immediately preceded by a geninitive marker, but not vice versa. A specific morpheme can be indicated in curly brackets after the gloss, e.g. "GEN-PL{zzz}" would only find words where the plural is expressed by the "zzz" marker. You can also use regular expressions inside the curly brackets. Instead of a single gloss, you can use a set of glosses with the <em>|</em> (OR) operator, like "(NOM|GEN)-PL". You can also use one of the special characters: <em>*</em> for any number of any glosses in-between, <em>+</em> for any positive number of glosses, and <em>?</em> for any single gloss. Finally, a <em>#</em> placed at the beginning or at the end of a query means word boundary. Several gloss queries can be combined by logical functions and parentheses. As with the grammar tags, you can turn on a visual gloss selection window to choose glosses from the list by moving them to the blue area in the upper part of the window.</p>
		{% endif %}
	</div>
	<div id="help_multi_word_search" class="tab-pane fade">
		<h4>How to search for several words at once</h4>
		<p>If you want to search for a construction or just for several words that occur together within one sentence, you could open more word query forms by clicking the <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> button. By default, whenever there are several words in your query, they are searched at any distance and in any order within one sentence.</p>
		<p>A sentence search would therefore produce all sentences that contain each of the queried words at least once. In a parallel corpus, you could specify different languages in different word queries. Such multi-language query would mean "find all aligned segments where the sentences in the corresponding languages contain relevant words". For example, in an English-Russian parallel corpus with a sentence-level alignment you could find all sentences where an English "James" was translated into Russian as "Иаков".</p>
		<p>A word search works the same way, but instead of the sentences you get the list of words that appeared as Word #1 in these sentences. This could be useful if you want to find out e.g. which words can precede or follow the preposition "at" (in the latter case, the word "at" has to be the second word of the query, while the distance to the first word should be negative). Since this kind of search requires retrieval and processing of all matching sentences, it can be slow. If the processing time exceeds the time allowed for request, you will get the result based on some random subset of matching sentences rather than the complete results.</p>
		<h4>Distances</h4>
		<p>By clicking the <span class="glyphicon glyphicon-resize-full"> </span> button, you can specify one or more distance constraints between the words in your query. For example, you can say that the Word #2 should occur within a distance range (1, 2) from the Word #1. Negative distances are allowed. Whatever the distance, the words in your query will only be searched within one sentence; there is no way to search across sentence boundaries.</p>
		<p>If your query is relatively simple, then this is it. However, if you have a really complex query, you will get some results that only partially conform to it. Such results will be "switched off" (look semi-transparent), but they will count towards the total number of occurrences. A "really complex" query is one where it is impossible to find a single word that would be included in every distance constraint. Additionally, even if you have a simpler query, you can choose to will get the same results as you would have got without the distance constraints, with the non-conforming results switched off. To do so, you should uncheck the "Distance requirements are strict" checkbox in the Options tab.</p>
		<p>Note that multiword queries, especially with multiple distance constraints, can be heavy and take a lot of time to be processed.</p>
	</div>
	<div id="help_subcorpus_selection" class="tab-pane fade">
		<h4>How to select a subcorpus</h4>
		<p>You can limit your search by selecting a subcorpus, i.e. a subset of the corpus documents you want to search in. You can do this by clicking the "Select subcorpus" button and then either specifying constraints by filling in the input fields, or selecting (or deselecting) particular titles from the list (or both). If you have selected a subcorpus, all your search results will be taken only from the documents you have selected.</p>
	</div>
</div>