<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#help_single_word_search">Как найти одно слово</a></li>
	<li><a data-toggle="tab" href="#help_grammar">Грамматика</a></li>
	<li><a data-toggle="tab" href="#help_multi_word_search">Как найти несколько слов</a></li>
	<li><a data-toggle="tab" href="#help_subcorpus_selection">Как задать подкорпус</a></li>
</ul>
<div class="tab-content">
	<div id="help_single_word_search" class="tab-pane fade in active">
		<h4>Простой поиск</h4>
		<p>Корпус &mdash; это набор текстов со специальной разметкой, с помощью которого можно выяснить, в каких контекстах, в каких типах текстов и насколько часто употребляется то или иное слово или конструкция. Для этого нужно ввести поисковый запрос в поля, которые Вы видите в левой верхней части поисковой панели. В этой вкладке рассказывается о том, как делать простые запросы, т.е. запросы, позволяющие найти в корпусе одно конкретное слово или класс слов.</p>
		<p>Форма запроса для поиска одного слова представляет собой набор полей, в которые пользователь может вводить текст. В частности, имеются следующие поля:
		<ul>
			<li><em>Слово</em>. В это поле можно ввести конкретную словоформу, например, &laquo;идёт&raquo; в таком случае найдётся именно она, но не, например, формы &laquo;идти&raquo; или &laquo;шёл&raquo;. Есть несколько режимов поиска словоформ. Первый заключается в том, чтобы просто ввести конкретное слово. Второй режим позволяет использовать символ <em>*</em>, который означает &laquo;любое количество любых символов&raquo;. Например, запрос &laquo;корпус*&raquo; найдёт все слова, начинающиеся на &laquo;корпус&raquo;: собственно &laquo;корпус&raquo;, &laquo;корпуса&raquo;, &laquo;корпусный&raquo; и т. п. Третья опция заключается в использовании <a href="http://www.regular-expressions.info/quickstart.html">регулярных выражений</a> (если быть точным, той их разновидности, которая используется в Apache Lucene). Наконец, в любом запросе можно использовать знак <em>~</em> в качестве отрицания, например, &laquo;~корпус&raquo; найдёт все слова, кроме &laquo;корпус&raquo;.</li>
			<li><em>Лемма</em>. Леммой называется словарная (начальная) форма слова, например, леммой для слова &laquo;идёт&raquo; будет &laquo;идти&raquo;. Если ввести в это поле какую-либо лемму, Вы найдёте все её формы; естественно, такой поиск будет работать, только если в корпусе есть лемматизация. Правила работы с полем &laquo;Лемма&raquo; такие же, как и с полем &laquo;Слово&raquo;.</li>
			<li><em>Грамматика{% if gloss_search_enabled %} и глоссы{% endif %}</em>: см. вкладку <em>Грамматика</em>.</li>
			<li><em>Другие поля</em>. В зависимости от того, какая разметка есть в корпусе, в форме запроса могут быть и другие поля. Все дополнительные поля можно увидеть, нажав на кнопку <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>. Все они работают так же, как &laquo;Слово&raquo; и &laquo;Лемма&raquo;.</li>
			<li>С помощью поля <em>Позиция в предложении</em> можно искать слова в определённом месте внутри предложения, например, в начале (позиция 1) или в вакернагелевской позиции (позиция 2). Чтобы считать позиции с конца предложения, можно использовать отрицательные числа: например, <em>-1</em> означает последнее слово в предложении.</li>
		</ul>
		<p>В случае, если заполнены несколько полей, будут найдены все слова, соответствующие всем полям запроса одновременно.</p>
		<h4>Настройки поиска и отображения</h4>
		<p>Вкладка <span class="glyphicon glyphicon-cog" title="Options"></span> в левой части поисковой панели содержит настройки поиска и отображения. Опции для простого поиска включают в себя количество результатов на странице (максимум 100), тип сортировки, выбор транслитерации (в корпусах, допускающих несколько вариантнов транслитерации) и тип выдачи (обычная или глоссированная).</p>
		<h4>Поиск предложений и слов</h4>
		<p>В корпусе доступны два разных вида поиска: поиск предложений и поиск отдельных словоформ (а также лемм). В первом случае корпус покажет все предложения, где поисковая платформа нашла хотя бы одно слово или комбинацию слов, запрошенную пользователем. Нажав на зелёную стрелку сбоку от предложения, можно посмотреть на его контекст, т. е. соседние с ним предложения в тексте. (В большинстве корпусов контекст можно расширять ограниченное количество раз из соображений авторского права.) Галочка слева от предложения &laquo;выключает&raquo; его. Чтобы скачать все просмотренные Вами результаты, можно воспользоваться ссылками &laquo;скачать как CSV&raquo; и &laquo;скачать как XLSX&raquo; внизу. &laquo;Выключенные&raquo; предложения не войдут в этот список.</p>
		<p>Кнопка &laquo;Поиск слов&raquo; выдаст список словоформ, подходящих под запрос, без повторов, а также информацию об их частотности во всём корпусе или в подкорпусе, если Вы его ограничили. Такой поиск может ответить на вопросы вроде &laquo;Какие глаголы чаще всего употребляются в прошедшем времени?&raquo;. Каждое из найденных слов можно сразу поискать в корпусе, нажав на кнопку <span class="glyphicon glyphicon-search" title="Search in corpus"></span> в соответствующей строке таблицы. Кнопка <span class="glyphicon glyphicon-stats" title="Show statistics"> </span> покажет распределение этого слова по разным типам текстов. Поиск лемм работает аналогичным образом, но вместо словоформ показывает списки лемм.</p>
		{% if media %}
		<h4>Выравнивание с аудио/видео</h4>
		<p>Если предложение, которое Вы нашли, выровнено с аудио- или видеофайлом, соответствующий фрагмент можно посмотреть или прослушать, нажав на текст предложения в любом месте. Если Вы расширяли контекст, посмотреть или прослушать можно весь расширенный фрагмент. В этом случае сегмент, который проигрывается в настоящее время, будет выделяться в тексте жирным шрифтом. В случае, если запись представляет собой диалог, в котором реплики участников накладываются друг на друга, в текстовом представлении они идут друг за другом (они отсортированы по времени начала реплики), но в моменты, когда несколько реплик звучат одновременно, они все выделяются жирным.</p>
		{% endif %}
		<h4>Отрицательные запросы</h4>
		<p>Чтобы найти предложения, <em>не содержащие</em> каких-либо слов или классов слов, можно включить опцию &laquo;Отрицательный запрос&raquo;, нажав на кнопку <span class="glyphicon glyphicon-off" aria-hidden="true"> </span>. Эта опция работает только при поиске предложений.</p>
	</div>
	<div id="help_grammar" class="tab-pane fade">
		<h4>Грамматические тэги</h4>
		<p><em>Грамматика</em>. В корпусе с морфологической разметкой каждой словоформе приписывается ряд тэгов &mdash; сокращённых обозначений, которые говорят о том, какие грамматические (или любые другие) значения выражены в этой словоформе. Например, в русскоязычном корпусе словоформе &laquo;идёт&raquo; могут быть приписаны тэги <em>V</em> (глагол), <em>prs</em> (настоящее время), <em>3</em> (третье лицо) и <em>sg</em> (единственное число). Какие категории в корпусе окажутся размеченными и какие тэги им будут соответствовать, определяют разработчики корпуса. Пользователи, знакомые с набором тэгов, используемым в конкретном корпусе, могут вручную вписывать эти тэги в поле <em>Грамматика</em>, при необходимости объединяя их логическими функциями: <em>&amp;</em> или <em>,</em> (запятая) для конъюнкции (И), <em>|</em> для дизъюнкции (ИЛИ) и <em>~</em> для отрицания. Части запроса могут быть сгруппированы с помощью скобок. Например, запрос &laquo;(nom|gen),~sg&raquo; будет означать &laquo;слово должно стоять в именительном или родительном падеже, но не в единственном числе&raquo;, если в корпусе есть соответствующие тэги. Пользователи, не знакомые с набором тэгов или предпочитающие графический интерфейс для выбора, могут открыть окошко выбора тэгов из списка, нажав на небольшую кнопку в конце текстового поля. В этом окошке тэги сгруппированы по категориям. Если выбрать несколько тэгов из одной категории, корпус проинтерпретирует это как дизъюнкцию (ИЛИ); тэги из разных категорий объединяются с помощью конъюнкции (И). Соответствующий запрос в текстовом виде будет показан в голубом поле сверху.</p>
		{% if gloss_search_enabled %}
		<p><em>Глоссы</em>. В глоссированном корпусе можно искать по глоссам. Такой поиск очень похож на поиск по грамматическим тэгам и во многом дублирует его, но имеет несколько отличий. Во-первых, в поиске по глоссам можно указать взаимное расположение нескольких аффиксов или найти слова, в которых некоторая глосса встречается несколько раз, тогда как в грамматическом поиске набор тэгов интерпретируется как неупорядоченный мешок значений без повторов. Во-вторых, при поиске по глоссам можно указывать не только глоссу, но и саму морфему, что может быть полезно, когда одно и то же значение в разных случаях выражается разными алломорфами. В-третьих, разработчики корпуса могут предусмотреть обобщённые обозначения для классов глосс, например, &laquo;CASE&raquo; для всех падежных показателей. Наконец, соответствие между морфемами/глоссами и грамматическими значениями не всегда взаимно-однозначно, т. к. в одной морфеме могут кумулироваться несколько значений, а одно значение, наоборот, может выражаться одновременно несколькими морфемами или явно не выражаться вообще.</p>
		<p>Пользователи, знакомые с используемой в корпусе системой глоссирования, могут печатать в поле &laquo;Глоссы&raquo; поисковые запросы, используя эти глоссы. Несколько глосс, разделённых дефисом, означают, эти глоссы должны встретиться в слове ровно так, как они введены. Например, выражение &laquo;GEN-PL&raquo; будет означать &laquo;найти все слова, в которых глосса PL непосредственно следует за глоссой GEN, но не наоборот&raquo;. В фигурных скобках после глоссы можно указать конкретную морфему: по выражению &laquo;GEN-PL{zzz}&raquo; найдутся только те слова, в которых глосса PL следует за GEN и при этом морфема, глоссированная как PL, выглядит как zzz. Внутри фигурных скобок можно использовать регулярные выражения. Вместо одной глоссы можно задать множество глосс, используя скобки и оператор <em>|</em> (ИЛИ), например, &laquo;(NOM|GEN)-PL&raquo;. Кроме того, вместо глосс можно использовать символ <em>*</em> со значением &laquo;любое количество любых морфем&raquo;, <em>+</em> со значением &laquo;любое положительное количество любых морфем&raquo; и <em>?</em> со значением &laquo;одна любая морфема&raquo;. Наконец, знак <em>#</em>, расположенный в начале или конце выражения, означает границу слова. Несколько подобных выражений можно объединять с помощью логических функций и скобок. Как и в случае с грамматикой, вместо ручного ввода можно воспользоваться окошком со списком глосс. Прямоугольники с глоссами в нём нужно перетаскивать в голубую область сверху.</p>
		{% endif %}
	</div>
	<div id="help_multi_word_search" class="tab-pane fade">
		<h4>Как найти несколько слов внутри одного предложения</h4>
		<p>Чтобы найти конструкцию или просто несколько слов внутри одного предложения, количество слов в запросе можно увеличить, нажав на кнопку <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> нужное количество раз. По умолчанию считается, что в запросе с несколькими словами эти слова ищутся на любом расстоянии друг от друга внутри одного предложения.</p>
		<p>Поиск по предложениям в таком случае выдаст все предложения, в которых каждое из запрошенных слов встретилось хотя бы один раз. В параллельном корпусе у разных слов можно выставить разные языки. Такой многоязычный запрос будет означать &laquo;найти все выровненные параллельные сегменты, где предложения на указанных языках содержат соответствующие слова&raquo;. Например, в англо-русском параллельном корпусе с выравниванием по предложениям таким образом можно было бы найти все предложения, где английское слово &laquo;James&raquo; было переведено на русский как &laquo;Иаков&raquo;.</p>
		<p>Поиск слов работает аналогичным образом, но вместо предложений он выдаёт список слов, которые в этих предложениях оказались на месте слова №1 из запроса. Такой поиск может быть полезным, например, если Вы хотите узнать, какие слова чаще всего употребляются слева или справа от предлога &laquo;к&raquo; (во втором случае этот предлог должен быть словом №2 в запросе, но расстояние до слова №1 должно быть отрицательным). Поскольку для поиска слов необходимо перебрать и обработать все предложения, подходящие под запрос, такой поиск может быть медленным. Если во время поиска истечёт лимит времени, отведённый для запроса, Вы увидите результат обработки некоторой случайной выборки предложений вместо полного результата.</p>
		<h4>Расстояния</h4>
		<p>Нажав на кнопку <span class="glyphicon glyphicon-resize-full"> </span>, можно указать минимальное и максимальное расстояние между словами в запросе. Например, можно указать, что слово №2 должно находиться в диапазоне от 1 до 2 слов от слова №1. Допускаются отрицательные расстояния, означающие, что данное слово должно находиться слева от того, до которого указывается расстояние. Независимо от введённых расстояний, поиск нескольких слов всегда ограничен одним предложением; искать в одном запросе слова, находящиеся в разных предложениях, невозможно.</p>
		<p>Если Ваш запрос относительно простой, то больше ничего делать не нужно. Однако в случае очень сложного запроса Вы получите в том числе примеры, которые соответствуют ему только частично. Такие примеры будут &laquo;выключены&raquo; (они будут полупрозрачными), но они будут учитываться в общем числе вхождений. &laquo;Очень сложным&raquo; считается запрос, в котором нет ни одного слова, которое участвовало бы во всех ограничениях на расстояния. Кроме того, даже в случае простых запросов можно специально включить в результаты такие примеры, где есть все нужные слова, но не соблюдаются ограничения на расстояния, в выключенном виде. Для этого во вкладке с настройками необходимо снять флажок &laquo;Расстояния между словами только как в запросе&raquo;.</p>
		<p>В любом случае стоит помнить о том, что запросы на несколько слов, особенно с указанием расстояний, могут быть тяжёлыми, так что их выполнение может занять много времени.</p>
	</div>
	<div id="help_subcorpus_selection" class="tab-pane fade">
		<h4>Как выбрать подкорпус</h4>
		<p>Поиск можно ограничить, выбрав подкорпус, то есть подмножество текстов, в которых Вы хотите что-либо найти. Для этого нажмите на кнопку &laquo;Выбрать подкорпус&raquo;. В открывшемся окошке можно либо ограничить подкорпус, заполнив поисковые поля, либо выбрав (или убрав) конкретные тексты в списке (эти два способа можно комбинировать). Если Вы выбрали подкорпус, все Ваши запросы будут искаться только в текстах подкорпуса.</p>
	</div>
</div>