﻿{% if data.timeout %}
<p class="message">{{ _('The search was not finished due to the query timeout. You only see partial results.') }}</p>
{% endif %}
{% if data.subcorpus_enabled %}
<p class="message">{{ _('You are searching in a subcorpus.') }}</p>
{% endif %}
<p>{{ _('Search result:') }}
{% if data.n_occurrences > 0 %}
{{ data.n_occurrences }} {% if data.n_occurrences == 1 %}{{ _('occurrence') }}{% elif data.n_occurrences % 10 == 1 and data.n_occurrences % 100 != 11 %}{{ _('occurrence_1') }}{% elif 2 <= data.n_occurrences % 10 <= 4 and not 12 <= data.n_occurrences % 100 <= 14 %}{{ _('occurrences_2-4') }}{% else %}{{ _('occurrences') }}{% endif %},
{% endif %}
{{ data.n_sentences }} {{ _('sentence(s) found in approximately') }} {{ data.n_docs }} {{ _('document(s)') }}.</p>

<div class="sent_results">
{% for c in data.contexts %}
	{% set context_loop = loop %}
	<div class="context {% if not c.toggled_on %} context_off{% endif %}" id='div_res{{ loop.index - 1 }}'>
	<span class="ch_container"{% if data.context_header_rtl %} dir="rtl"{% endif %}>{{ c.header | safe }}</span>
	<div class="cx_main">
	<div class="cx_toggle_div"><input type="checkbox" class="cx_toggle_chk" {% if c.toggled_on %} checked{% endif %}></div>
	<span class="get_glossed_copy" data-nsent="{{ loop.index - 1 }}"><span class="glyph_copy glyphicon glyphicon-copy" aria-hidden="true"></span></span>
	<span class="sentence" id='res{{ loop.index - 1 }}'>
	{% for lang in data.languages %}
		{% if lang in c.languages %}
		<span class="sent_lang sent_lang_{{ lang }}" id='res{{ context_loop.index - 1 }}_{{ lang }}' {% if c.languages[lang].img %}data-img="{{ c.languages[lang].img }}"{% endif %}{% if c.languages[lang].rtl %} dir="rtl"{% endif %}>
		{{ c.languages[lang].text | safe }}
		</span>
		{% if not loop.last %}{% endif %}
		{% endif %}
	{% endfor %}
	</span>
	<span class='expand' data-nsent="{{ loop.index - 1 }}"><span class="glyph_expand glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span></span>
	</div>
	</div>
{% endfor %}
</div>
{% if data.message %}
<p class="message">{{ data.message }}</p>
{% endif %}

{% if data.src_alignment %}
<script type='text/javascript'>
var srcAlignments = {{ data.src_alignment | safe }};
</script>
{% endif %}

{% if data.contexts|length > 0 %}
	<div class="pages">
	{% for i_page in range(-5, 6) %}
		{% if (data.page + i_page > 0) and (data.page + i_page < data.n_sentences / data.page_size + 1) %}
		{% if i_page == 0 %}
		<span class="cur_page">{{ data.page + i_page }}</span>&nbsp;
		{% else %}
		<span class="page_link" data-page="{{ data.page + i_page }}">{{ data.page + i_page }}</span>&nbsp;
		{% endif %}
		{% endif %}
	{% endfor %}
	{% if data.page + 7 < data.n_sentences / data.page_size + 1 %}
	<span class="page_link">...</span>&nbsp;
	{% endif %}
	</div>
	<a href="download_cur_results_csv" download="results-{{ data.page }}.csv">{{ _('download as CSV') }}</a>
	<a href="download_cur_results_xlsx" download="results-{{ data.page }}.xlsx">{{ _('download as XLSX') }}</a>
	<script type='text/javascript'>assign_word_events(); hide_query_panel();</script>
	{% if data.media %}
	<script type='text/javascript'>
	show_player();
	</script>
	{% endif %}
	<script type='text/javascript'>searchType = 'sentences';</script>
{% else %}
	<script type='text/javascript'>
	{% if data.media %}
	hide_player();
	{% endif %}
	{% if data.images %}
	hide_img();
	{% endif %}
	show_query_panel();
	searchType = 'none';
	</script>
{% endif %}

