<tr>
{% if wf_display %}
	<td><span class="word_in_table" data-ana="{{ ana_popup }}">{{ wf_display | safe }}</span></td>
{% else %}
	<td><span class="word_in_table" data-ana="{{ ana_popup | replace("&amp;amp;lt;", "&amp;lt;") | replace("&amp;amp;gt;", "&amp;gt;") }}">{{ wf }}</span></td>
{% endif %}
	<td>{{ lemma }}</td>
{% if word_search_display_gr %}
	<td>{{ gr }}</td>
{% endif %}
{% for item in other_fields %}
    <td>{{ item }}</td>
{% endfor %}
	<td>{{ freq }}</td>
{% if display_freq_rank %}
	<td>{{ rank | safe }}</td>
{% endif %}
	<td>{{ nSents }}</td>
	<td>{{ nDocs }}</td>
	<td><span class="search_w glyphicon glyphicon-search" data-wid="{{ wID }}" title="Search in corpus"> </span></td>
	<td><span class="stat_w glyphicon glyphicon-stats" data-wid="{{ wID }}" data-wf="{{ wfSearch }}" title="Show statistics"> </span></td>
</tr>
